<a href="https://colab.research.google.com/github/shreya-t-nagappanavar/practice_demo/blob/main/Pandas(Part_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# All string function can be used to extract or modify text in a series

In [3]:
ser = pd.Series(['Shreya','Shrinivas','kasturi','machine learning','hello world'])

In [4]:
ser

0              Shreya
1           Shrinivas
2             kasturi
3    machine learning
4         hello world
dtype: object

1. Upper and lower function

In [5]:
ser.str.upper()

0              SHREYA
1           SHRINIVAS
2             KASTURI
3    MACHINE LEARNING
4         HELLO WORLD
dtype: object

In [6]:
ser.str.lower()

0              shreya
1           shrinivas
2             kasturi
3    machine learning
4         hello world
dtype: object

2. Length function

In [8]:
for i in ser:
  print(len(i))

6
9
7
16
11

3. Strip Function(Removes extra space)

In [11]:
ser = pd.Series(['Shreya ', 'Shrinivas' , 'kasturi' , 'machine      learning','hello world   '])
for i in ser:
  print(i,len(i))

Shreya  7
Shrinivas 9
kasturi 7
machine      learning 21
hello world    14

In [13]:
ser = ser.str.strip()
for i in ser:
  print(i,len(i))

Shreya 6
Shrinivas 9
kasturi 7
machine      learning 21
hello world 11

4. Split Function

In [14]:
ser.str.split()

0               [Shreya]
1            [Shrinivas]
2              [kasturi]
3    [machine, learning]
4         [hello, world]
dtype: object

In [15]:
ser.str.split()[3]  #spliting the vales by index

['machine', 'learning']

In [16]:
pd.Series(['10/3/2022','19/4/2027','23/6/2025']).str.split('/')

0    [10, 3, 2022]
1    [19, 4, 2027]
2    [23, 6, 2025]
dtype: object

In [17]:
pd.Series(['10/3/2022','19/4/2027','23/6/2025']).str.split('/')[1]

['19', '4', '2027']

5. Contains Function

In [18]:
ser = pd.Series(['Shreya@', 'Shrinivas' , 'kasturi' , 'machine @ learning','hello world'])

In [20]:
ser = pd.Series(['Shreya@', 'Shrinivas' , 'kasturi' , 'machine @ learning','hello world'])
ser.str.contains('@')

0     True
1    False
2    False
3     True
4    False
dtype: bool

6. Replace Function

In [21]:
ser = pd.Series(['Shreya@', 'Shrinivas' , 'kasturi' , 'machine @ learning','hello world'])
ser.str.replace('@','')

0               Shreya
1            Shrinivas
2              kasturi
3    machine  learning
4          hello world
dtype: object

7. Count Function

In [23]:
ser.str.count('a')

0    1
1    1
2    1
3    2
4    0
dtype: int64

8. Startswith and Endswith

In [25]:
ser = pd.Series(['Shreya@', 'Shrinivas' , 'kasturi' , 'machine @ learning','hello world'])
ser.str.startswith('S')

0     True
1     True
2    False
3    False
4    False
dtype: bool

In [26]:
ser.str.endswith('s')

0    False
1     True
2    False
3    False
4    False
dtype: bool

9. Find Function

In [27]:
ser = pd.Series(['Shreya@', 'Shrinivas' , 'kasturi' , 'machine @ learning','hello world'])
ser.str.find('@')

0    6
1   -1
2   -1
3    8
4   -1
dtype: int64

# Converting a series to a list

In [29]:
ser = pd.Series(['Shreya', 'Shrinivas' , 'kasturi' , 'machine  learning','hello world'])

In [30]:
print(ser)

0               Shreya
1            Shrinivas
2              kasturi
3    machine  learning
4          hello world
dtype: object

In [31]:
ser.to_list()

['Shreya', 'Shrinivas', 'kasturi', 'machine  learning', 'hello world']

In [32]:
type(ser.to_list())

list